.brand-section {
  padding: 0px 100px;
  background-image: url("../img/bg-cam.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.brand-header h1 {
  text-align: center;
  color: #fdd835;
  margin-bottom: 20px;
}

/* Menyusun container untuk brand dan judul */
.brand-container {
  text-align: center; /* Menengahkan seluruh elemen dalam container */
  margin-top: 50px; /* Memberikan sedikit ruang di atas */
}

/* Menata teks judul Brand */
.brand-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 75px;
  margin: 0; /* Menghapus margin default */
}

/* Menata div yang berisi logo-brand */
.brand-logos {
  display: flex; /* Menggunakan flexbox untuk tata letak logo */
  justify-content: center; /* Menengahkan logo secara horizontal */
  align-items: center; /* Menyelaraskan logo secara vertikal */
  gap: 10px;
  flex-wrap: wrap; /* Membuat logo dapat pindah baris jika terlalu lebar */
  margin: 60px; /* Memberikan ruang di atas logo */
}

/* Menambahkan styling untuk logo */
.brand-logos img {
  height: auto; /* Memastikan logo tidak terdistorsi */
  max-height: 150px; /* Membatasi tinggi maksimal logo */
  transition: transform 0.3s ease, filter 0.3s ease; /* Efek hover pada logo dan filter */
  filter: grayscale(100%); /* Mengatur logo menjadi hitam putih sebelum hover */
  padding: 0 15px; /* Memberikan jarak horizontal untuk logo */
  position: relative;
}

/* Efek hover pada logo */
.brand-logos img:hover {
  transform: scale(1.1); /* Membuat logo sedikit lebih besar saat hover */
  filter: grayscale(0%); /* Menghilangkan efek hitam putih */
}

/* Menambahkan garis vertikal */
.brand-logos img:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.3); /* Garis vertikal tipis */
}

.bundle-section {
  position: relative;
  display: flex;
  height: 200px;
  align-items: center;
  background: #2e2e2e;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.bundle-content {
  z-index: 2;
  left: 60px;
  position: relative;
  transition: transform 0.3s ease;
}

.bundle-content h2 {
  color: #ffffff;
  margin: 0 0 10px 0;
  font-size: 50px;
}
.bundle-text {
  color: #fdd835;
  font-size: 50px;
}
.highlight {
  color: #fdd835;
}

.bundle-content button {
  padding: 10px 30px;
  font-size: 16px;
  color: white;
  background-color: #fdd835;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bundle-content button:hover {
  background-color: #d4af37;
}

.bundle-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: visible;
  transition: all 0.5s ease;
}

.bundle-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  transition: transform 0.5s ease;
}

.bundle-camera {
  position: relative;
  z-index: 1;
  max-height: 250px;
  margin-right: 20px;
  transition: transform 0.5s ease;
  right: 120px;
}

.bundle-images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 2;
  transition: opacity 0.5s ease;
}

.bundle-section:hover .bundle-images::before {
  opacity: 0;
}

.bundle-section:hover .bundle-background {
  transform: scale(1.3);
}

.bundle-section:hover .bundle-camera {
  transform: scale(1.1) translateY(-20px);
}
